:root {
    font-size: 100px;
    font-family: "Roboto", "Noto Sans JP", sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
}

textarea {
    height: 1.5rem;
    width: 90vw;
    padding: 0;
    font-family: "Roboto", "Noto Sans JP", sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    text-align: center;
    vertical-align: middle;
    background-color: transparent;
    border: none;
    resize: none;

    &::placeholder {
        line-height: 1.5rem;
        font-size: 0.5rem;
    }

    &:focus-visible {
        outline: none;
    }
}

input[name="button_toggle"] {
    display: none;
}

#bg_color_change {
    position: absolute;
    cursor: pointer;
    top: 4vh;
    // right: 4vh;
    width: 0.4rem;
    height: 0.4rem;
    border: none;
    background-color: transparent;
    background-image: url(img/palette_black_24dp.svg);
    background-size: cover;
    opacity: 0.5;
    transition: 0.5s;
}

ul {
    font-size: 14px;
    position: absolute;
    top: 10vh;
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
    gap: 0.1rem;
    opacity: 0;
    visibility: hidden;
    transition: .4s;
    li {
        cursor: pointer;
        width: 0.3rem;
        height: 0.3rem;
        box-sizing: border-box;
        background-color: lavender;
        text-indent: 100%;
        white-space: nowrap;
        overflow: hidden;
        border-radius: .15rem;
        border: 3px solid #f3f3f3;
    }
}

#qa {
    position: absolute;
    bottom: 7vh;
    padding: 1em 2em;
    border-radius: 1em;
    background-color: #fff;
    font-size: 14px;
    filter: drop-shadow(1px 2px 1px rgba(#000, 0.6));
    opacity: 0;
    transition: 0.5s;

    &::after {
        position: absolute;
        bottom: -1em;
        left: 2em;
        content: "▼";
        font-size: 1.5em;
        color: #fff;
    }
}

small {
    color: #888;
    font-size: 14px;
    position: absolute;
    bottom: 3.5vh;

    a {
        font-weight: bold;
        color: inherit;
        &:visited {
            color: inherit;
        }
    }
}

.first-clicked {
    textarea {
        color: #fff;

        &::placeholder {
            color: #fff;
            opacity: 50%;
        }
    }

    #bg_color_change {
        filter: invert(1);
    }

    small {
        color: #ccc;
    }
}

@media screen and (max-width: 1280px) {
    textarea {
        &::placeholder {
            font-size: 0.3rem;
        }
    }
}

@media screen and (max-width: 740px) {
    textarea {
        &::placeholder {
            font-size: 0.2rem;
        }
    }
}
